<% provide(:title, "About") %>

<h1>About the Reader's Library Tracker</h1>

<h1>Here is a list of all books by all users</h1>

<% @books.each do |b| %>
<ul>
  <li><%= b.title %> By: <%= b.author %></li>
</ul>

<% end %>
