<h1>Reader's Library Tracker</h1>

<div class="center jumbotron">

  <p>
    this is the homepage for the <a href="/" target="_blank">RLT</a>
  </p>

<%= link_to "Sign up now!", root_path, class: "btn btn-lg btn-primary" %>

</div>

</div>
